*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e3e9ff;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

.heading{
    margin-top: 1rem;
    text-align: center;
    background-color: #b17dec;
    border-radius: 4px;
}

.heading h1{
    color: white;
}

.top{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.ip{
    width: 600px;
    display: flex;
    gap: 5px;
    
}

.ip input{
    width: 500px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #7c7c7c;
    background-color: #e3e9ff;
}

.Add{
    background-color: #b17dec;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.Add:hover{
    background-color: #9d5ce7;
    color: #e3e9ff;
    
}

.todo{
    position: relative;
    margin-top: 1rem;
    background-color:#e3e9ff;
    color: black;
    border: solid 1px #b3b1b1;
    padding: 5px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icons{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        display: flex;
        gap: 0.5rem;
}

.icon{
    cursor: pointer;
    font-size: 20px;
}